/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* { font-family: Helvetica, sans-serif }

#rule-editor, #trash, #library, #result {
  border: 2px solid black;
  border-radius: 5px;
  width: 500px;
  float: left;
  margin: 10px;
}

h2 { text-align: center }

.logic, .function {
  padding: 5px;
  margin: 5px;
  border: solid 2px lightblue;
  border-radius: 5px;
  background: white;
}

.function {
  background: lightblue;
}

.drop-target {
  padding: 5px;
  border: dashed 2px transparent;
  border-radius: 5px;
}

.logic .drop-target {
  margin-left: 20px;
}

.visible-target {
  border-color: gray
  /* background: lightblue */
}

label {
  background: lightblue;
  /* border: solid 1px; */
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
}
