/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* { font-family: Helvetica, sans-serif }

#rule-editor {
  border: 1px solid black;
  width: 700px
}

.logic, .function {
  padding: 5px;
  margin: 5px;
  border: solid 1px lightblue;
  border-radius: 5px;
  background: white;
}

.drop-target {
  margin-left: 20px;
  /* border: dashed 1px gray;
  border-radius: 5px; */
}

label {
  background: lightblue;
  /* border: solid 1px; */
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
}
